SECRET_KEY=somestringverylong
DB_USERNAME=your-postgres-username
DB_PASSWORD=your-postgres-password
DB_NAME=notgoogledocs
DB_HOST=localhost

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini

# DATABASE_URL=postgresql://neondb_owner:**************************
